@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model IPagedList<PatientViewModel>

<partial name="AddPatient.cshtml" model="new PatientViewModel()" />

<div class="container">
    @if (Model is not null)
    {
        <div class="row">
            <div class="col-11">
                <table id="patientsTable" class="table">
                    <thead>
                        <tr>
                            <th>Име</th>
                            <th>Телефонен номер</th>
                            <th>Диагноза</th>
                            <th>Последен преглед</th>
                            <th>Първи преглед</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model)
                        {
                            <tr>
                                <td>@patient.Name</td>
                                <td>@patient.MobileNumber</td>
                                <td>@patient.Diagnose</td>
                                <td>@patient.LastAppointment</td>
                                <td>@patient.FirstAppointment</td>
                                <td><button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#editPatientModal-@patient.Id">Промени</button></td>
                                <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePatientModal-@patient.Id">Изтрий</button></td>
                            </tr>

                            <partial name="EditPatient.cshtml" model="patient" />

                            <partial name="DeletePatient.cshtml" model="patient" />
                        }
                    </tbody>
                </table>
            </div>

            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPatientModal">Добави</button>
            </div>
        </div>

        <nav>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions()
            {
                ActiveLiElementClass = "active",
                PageClasses = new[]{ "page-link"},
                LiElementClasses=new[] { "page-item" },
                UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
                LinkToNextPageFormat = "Следваща",
                LinkToPreviousPageFormat = "Предишна",
                MaximumPageNumbersToDisplay = 5,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always
            })
        </nav>
    }
</div>  