@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model IPagedList<PatientViewModel>

@if (Model is not null)
{
    @if (User.IsInRole("Admin"))
    {
        <partial name="Add.cshtml" model="new PatientViewModel()" />
    }

    <div class="container">
        <div class="row">
            <div class="col-10">
                <table id="patientsTable" class="table">
                    <thead>
                        <tr>
                            <th>Име</th>
                            <th>Телефонен номер</th>
                            <th>Диагноза</th>
                            <th>Последен преглед</th>
                            <th>Първи преглед</th>
                            <th>Бележки</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model)
                        {
                            <tr>
                                <td>@patient.Name</td>
                                <td>@patient.MobileNumber</td>
                                <td>@patient.Diagnose</td>
                                <td>@patient.LastAppointment?.ToString("dddd, dd MMMM yyyy")</td>
                                <td>@patient.FirstAppointment?.ToString("dddd, dd MMMM yyyy")</td>
                                <td>@patient.Notes</td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td><a class="btn btn-outline-dark" asp-controller="Patient" asp-action="Edit" asp-route-id="@patient.Id" data-bs-toggle="modal" data-bs-target="#editPatientModal-@patient.Id">Промени</a></td>
                                    <td><a class="btn btn-danger" asp-controller="Patient" asp-action="Delete" asp-route-id="@patient.Id" data-bs-toggle="modal" data-bs-target="#deletePatientModal-@patient.Id">Изтрий</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

                @if (User.IsInRole("Admin"))
                {
                    @foreach (var patient in Model)
                    {
                        <partial name="Edit.cshtml" model="patient" />

                        <partial name="Delete.cshtml" model="patient" />
                    }
                }
            </div>

            @if (User.IsInRole("Admin"))
            {
                <div class="col">
                    <a type="button" asp-controller="Patient" asp-action="Add" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#addPatientModal">Добави Пациент</a>
                </div>
            }
        </div>

        <nav>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions()
        {
        ActiveLiElementClass = "active",
        PageClasses = new[]{ "page-link"},
        LiElementClasses=new[] { "page-item" },
        UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
        LinkToNextPageFormat = "Следваща",
        LinkToPreviousPageFormat = "Предишна",
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always
        })
        </nav>
    </div>

    <partial name="_ValidationScriptsPartial" />

    <noscript>
        <style>
            .hidden-element {
                display: none;
            }
        </style>
    </noscript>
}