@model PatientViewModel

<tr data-patient-id="@Model.Id">
    <td>@Model.Name</td>
    <td>@Model.MobileNumber</td>
    <td>@Model.Diagnose</td>
    <td>@Model.LastAppointment?.ToString("dddd, dd MMMM yyyy")</td>
    <td>@Model.FirstAppointment?.ToString("dddd, dd MMMM yyyy")</td>
    <td>@Model.Notes</td>
    <td><button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#editPatientModal-@Model.Id">Промени</button></td>
    <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePatientModal-@Model.Id">Изтрий</button></td>
</tr>